@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/myriadpro-regular.eot');
	src: url('../fonts/myriadpro-regular.woff2') format('woff2'), url('../fonts/myriadpro-regular.woff') format('woff'), url('../fonts/myriadpro-regular.ttf') format('truetype'), url('../fonts/myriadpro-regular.svg') format('svg');
	font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: 'DINPro-Regular';
	src: url('../fonts/dinpro-regular.eot');
	src: url('../fonts/dinpro-regular.woff2') format('woff2'), url('../fonts/dinpro-regular.woff') format('woff'), url('../fonts/dinpro-regular.ttf') format('truetype'), url('../fonts/dinpro-regular.svg') format('svg');
	font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: 'DINPro-Medium';
	src: url('../fonts/dinpro-medium.eot');
	src: url('../fonts/dinpro-medium.woff2') format('woff2'), url('../fonts/dinpro-medium.woff') format('woff'), url('../fonts/dinpro-medium.ttf') format('truetype'), url('../fonts/dinpro-medium.svg') format('svg');
	font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: 'DINPro-Light';
	src: url('../fonts/dinpro-light.eot');
	src: url('../fonts/dinpro-light.woff2') format('woff2'), url('../fonts/dinpro-light.woff') format('woff'), url('../fonts/dinpro-light.ttf') format('truetype'), url('../fonts/dinpro-light.svg') format('svg');
	font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: 'DINPro-Bold';
	src: url('../fonts/dinpro-bold.eot');
	src: url('../fonts/dinpro-bold.woff2') format('woff2'), url('../fonts/dinpro-bold.woff') format('woff'), url('../fonts/dinpro-bold.ttf') format('truetype'), url('../fonts/dinpro-bold.svg') format('svg');
	font-weight: normal;
  font-style: normal;
  font-display: swap;
}